<h2>Create a new drone</h2>
<form action="/drones/create" method="POST">
<label for="">Name:
    <input type="text" name="name">
</label>
<label for="">Propellers:
    <input type="text" name="propellers">
</label>
<label for="">Max Speed:
    <input type="text" name="maxSpeed">
</label>
<button>Save Drone</button>
</form>